
@font-face {
    font-family: 'lale';
    src: url(assets/Lalezar.ttf) format('truetype');
}
@font-face {
    font-family: 'yekan';
    src: url(assets/Yekan.ttf) format('truetype');
}
a{
    text-decoration: none;
}
